.header-1-1 {
    color:white;
    background-color:crimson;
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    border-style: solid;
    padding-bottom: 6px;
    border-radius: 15px;
}

.paragraphs {
    color: rgb(0, 153, 255);
    font-family: Verdana;
    text-align: center;
    background-color: transparent;
    border-style: solid;
    border-color:transparent;
    padding-bottom: 6px;
    border-radius: 15px;
}

.caption {
    text-align: center;
    font-family: Verdana;
    color: rgb(0, 153, 255);
    font-size: 10px;
}

.list-1 {
    text-align: center;
}

ul {
    color: white;
    font-family: Verdana;
    text-align: center;
    display: inline-block;
    text-align: left;
    background-color: crimson;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    padding-right: 15px;
}

#hyperlink {
    color:paleturquoise;
    font-family: Verdana;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}